.region-header-middle .wrapper {
	background: #626262;
}

.region-header-middle {
	padding-top: 0;
}

.region-header-bottom .wrapper {
	background: #ffffff;
}

.region-header-bottom  {
	background: #fff;
}

#header-share-print {
	top: 10px;
}

#header-share-print a, #header-share-print a:hover {
	color: #0083b4;;
}

#block-menu-nav {
	display: block;
}

#block-ais-title {
	font-family: "HelveticaNeueW02-75Bold-USPTO","HelveticaNeueW02-75Bold","HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue",Helvetica,"Helvetica",Arial,"Arial",sans-serif;
	font-size: 1.8rem;
	color: white;
	padding: 15px 50px 15px 20px;
	line-height: 1rem;
	display: inline-block;
}

#block-ais-title a, #block-ais-title a:hover {
	color: white;
	text-decoration: none;
}

#block-menu-nav ul {
	display: inline-block;
	list-style-type: none;
	padding-bottom: 0;
}

#block-menu-nav ul li {
	display: inline;
}

#block-menu-nav ul li a {
	padding: 9px 12px;
	margin: 5px 5px 0px 5px;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#block-menu-nav ul li a:hover, #block-menu-nav ul li a.selected {
	background: #fff;
	color: #000;
	text-decoration: none;
	padding-bottom: 14px;
}

.header-links-wrapper {
	padding: 10px 20px;
}

.breadcrumb a, .breadcrumb a:hover {
	color: #0083b4;
}

.breadcrumb li, .breadcrumb li:hover {
	color: #000;
}

#content {
	padding-top: 10px;
}

