{
    "rules": {
        "no-undef": 1,
        "eqeqeq": 1,
        "curly": 1,
        "quotes": [1, "single"],
        "no-extra-semi": 0,
        "no-trailing-spaces": 0,
        "no-use-before-define": 1
    }
}
