/*

# include CSS
!/css/*

# include the distribution directory
!/dist/*

# include the images directory
!/images/*

# include the images directory
!/scripts/*

# include these files
!.gitattributes
!.gitignore
!.jshintrc
!Gruntfile.js
!LICENSE.txt
!README.md
!TERMS.md
!bower.json
!footer.html
!header.html
!index.html
!package.json


# the following exclusion/inclusion trees are needed to tell git to just
# include one file waaaay down in the directory tree

# include the USPTO pattern library CSS
!/bower_components
/bower_components/*
!/bower_components/USPTOPatternLibrary
/bower_components/USPTOPatternLibrary/*
!/bower_components/USPTOPatternLibrary/generated
/bower_components/USPTOPatternLibrary/generated/*
!/bower_components/USPTOPatternLibrary/generated/styles
/bower_components/USPTOPatternLibrary/generated/styles/*
!/bower_components/USPTOPatternLibrary/generated/styles/pattern-library.css

# include the USPTO pattern library CSS
!/bower_components/USPTOPatternLibrary/generated/images
/bower_components/USPTOPatternLibrary/generated/images/*
!/bower_components/USPTOPatternLibrary/generated/images/icons


# include jQuery
!/bower_components/jquery
/bower_components/jquery/*
!/bower_components/jquery/dist
/bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js

#include Bootstrap
!/bower_components/bootstrap
/bower_components/bootstrap/*
!/bower_components/bootstrap/dist
/bower_components/bootstrap/dist/*
!/bower_components/bootstrap/dist/js
/bower_components/bootstrap/dist/js/*
!/bower_components/bootstrap/dist/js/bootstrap.min.js
