/***
*  myUSPTO base styles
*  imports all needed external stylesheets and variables
*  only add global styles
*  This is imported to with myUSPTO UserAdmin styles
***/

// originally "@{assets-path}partials/mixins/_mixins.less";
@import "_mixins.less";
// originally "@{assets-path}partials/_ssoVariables.less";
@import "_ssoVariables.less";
//@import "@{bower-path}/bower_components/USPTOPatternLibrary/usptostrap/less/usptostrap.less";
@body-bg: #FFF; // used in _ssoVariables.less
@gray-lighter: #EEE; // used in _ssoVariables.less
@gray-25: #d9d9d6;    // used in _ssoVariables.less
@gray-light: #777; // used in _ssoVariables.less
@gray: #555;    // used in _ssoVariables.less
@black: #000;    // used in _ssoVariables.less
@text-color: #444;  // used in _ssoVariables.less
@headings-color: rgb(34, 34, 34); // used in _ssoVariables.less
@medium-blue: #004c97;  // used in _ssoVariables.less
@brand-success: #008139;  // used in _ssoVariables.less, overrides bootstrap
@screen-sm: 768px;  // used in _base.less
@screen-sm-min: @screen-sm;  // used in _textElements.less

//myuspto base styles
html {
    font-size: 62.5%;
    height: 100%;
    body {
        .font-size(@sso-font-size-base);
        background-color: @off-white-lightest;
        height: 100%;
        min-width: 320px;
    }
}


//all styles specific to the account details Form
// originally "@{assets-path}partials/_textElements.less";
@import "_textElements.less";
/*
@assets-path: "";
@import "@{assets-path}partials/_spacing.less";
@import "@{assets-path}partials/_errors.less";
@import "@{assets-path}partials/_ssoIcons.less";
@import "@{assets-path}partials/_commonForm.less";
@import "@{assets-path}partials/_buttons.less";
@import "@{assets-path}partials/_alerts.less";
@import "@{assets-path}partials/_messages.less";
@import "@{assets-path}partials/_stickySave.less";
@import "@{assets-path}partials/_modal.less";
@import "@{assets-path}partials/_recaptcha.less";
@import "@{assets-path}partials/_header.less";
@import "@{assets-path}partials/_footer.less";
@import "@{assets-path}partials/_spinnerOverlay.less";
@import "@{assets-path}partials/_profile-create-account.less";
@import "@{assets-path}partials/_sso-tables.less";
*/

/******** TOP BANNER ********/
.sso-dropdown-menu {
    li {
        text-align: left;
        .padding(left, 6%);
        .width(100%);
        &:hover {
            background-color: @gray-faint;
        }
        a {
            display: inline-block;
            .width(80%);
        }
    }
}


/******** MENU WIDGET ********/

// only cursor is needed as other styles are being used to style header menu items
.menu-logged-in-user {
    color: @white;
    cursor: pointer;
    text-decoration: none;
    .padding(4, 15, 6, 12);
    &:focus, &:hover {
        background-color: @blue-secondary;
        color: @white;
    }
}

/******** END MENU WIDGET ********/

a {
    &[data-disabled='disabled'] {
        color: inherit;
        display: block;
        cursor: pointer;
        text-decoration: none;
        &:hover, &:focus{
            text-decoration: none;
        }
    }

}

/******************************* END COMMON CONTENT *******************************/


/******** account activity styles ***********/


/******** FORM Styles ********/

form {
    &:not(.form-horizontal) {
        label, p {
            &.required {
                font-weight: 600;
                &:after {
                    //override font sizing and add p tag 
                    content: "*";
                    .font-size(12);
                    left: 4px;
                    position: relative;
                }
            }
        }
    }
}

/******** END FORM Styles ********/

.selected {
    background: @blue-secondary;
    color: @white;
}


/******** LOADING SPINNER ********/


/* Layout the position and default state of the spinner. */

form {
    &.myusptoloading {
        &:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1070;
            right: 0;
            background: @white-trans;
        }
    }
}


/** Spinner **/

.loading-overlay {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 50%;
    z-index: 1069;
}


/******** END LOADING SPINNER ********/


/*************** END MESSAGES/VALIDATION ***************/


/*****New layout styles*****/
//not used?
.form-group-heading {
    h2{
        .padding(0);
    }
}

/******** OVER-RIDES ********/

//change id to class if used
#content {
    @media (min-width: @screen-sm) {
        .padding(left, 0);
        .padding(right, 0);
        .padding(top, 0);
    }
}

/******** END OVER-RIDES ********/



//used?
.padding-bottom {
    .padding(bottom, 5);
    //padding-bottom: 5px;
}
//used?
.block {
    display: block;
}